@model CategoryIndexViewModel
@{
    ViewBag.Title = Model.Category.Name;
}

@await Component.InvokeAsync("Category")
<div class="row">
    <div class="col-md-9">
        @Html.Partial("_bookList", Model.Books)
        @Html.Partial("_Page", Model.PageOption)
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("Rank", new { categoryId=Model.Category.Id })
    </div>
</div>

