@model GenderIndexViewModel
@{
    ViewBag.Title = Model.Gender;
}

@await Component.InvokeAsync("Category")
<div class="row">
    <div class="col-md-9">
        @Html.Partial("_bookList", Model.Books)
        @Html.Partial("_Page", Model.PageOption)
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("Rank", new { gender = Model.Gender})
    </div>
</div>
