@model SearchViewModel

@{ 
    ViewBag.Title = "搜索:" + Model.Keyword;
}

<h5>搜索项：@Model.Keyword</h5>

<div class="col-sm-9">
    @Html.Partial("_bookList",Model.Books)
    @Html.Partial("_BsRoutePage",Model.PageOption)
</div>
