@model List<Book>

<div class="box">
    <div class="box-header">下载排行</div>
    <div class="box-block">
        <ul class="none-style-ul">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-action="Item" asp-contoller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                </li>
            }
        </ul>
    </div>
</div>