@model LoginViewModel

@{ 
    ViewBag.Title = "Login";
    Layout = "_LayoutBlank";
}

@section Styles {
    <style>
        body {
            background-color:#eee;
        }

        .form-signin {
            max-width:330px;
            margin:0 auto;
        }
        .form-signin-heading, .form-signin .checkbox {
            margin-bottom:10px;
        }
        .form-signin .form-control {
            height:auto;
            padding:10px;
            font-size:16px;
        }
            .form-signin input[type='text'] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .form-signin input[type='password'] {
                margin-bottom: 10px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
    </style>
}

<div asp-validation-summary="All" class="text-danger"></div>

<form class="form-signin" method="post" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <h2 class="form-signin-heading">登录</h2>
    <label asp-for="UserName" class="sr-only"></label>
    <input type="text" class="form-control" asp-for="UserName" placeholder="User Name" required autofocus />
    <label asp-for="Password" class="sr-only"></label>
    <input class="form-control" asp-for="Password" type="password" placeholder="Password" required/>
    <div class="checkbox">
        <label>
            <input type="checkbox" asp-for="RememberMe"/>Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>